@(title: String)(content: Html)

@gh_banner = {
<a id="banner" href="https://github.com/sebm/playpop">
  <img
    src="@routes.Assets.at("images/forkme_left_green_007200.png")"
    alt="Fork me on GitHub">
</a>
}

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        @content
        @gh_banner
    </body>
</html>
